html, body {
    height: 100%;
    margin: 0;
}

body {
    background: rgb(0, 0, 117);
    font-family: Arial, Helvetica, sans-serif;
}

div.login {
    width: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 15px 10px;
}

label.login__label, label.page__edit__label {
    display: block;
    font-weight: bold;
}

input.login__input, input.page__edit__input {
    width: 100%;
    height: 30px;
    border: 1px solid black;
}

.login__text {
    text-align: center;
}

fieldset {
    border: none;
}

input[type=submit].login__submit, input[type=submit].page__edit__submit {
    height: 40px;
    display: block;
    margin: 15px auto;
    border: none;
    border-radius: 5px;
    background: rgb(0, 0, 117);
    color: white;
    font-weight: bold;
    font-size: 15px;
}

input[type=submit].login__submit {
    width: 80%;
}

input[type=submit].page__edit__submit {
    width: 60%;
}

a:any-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

div.page {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

h1.page__title {
    margin: 0;
}

button.page__button-panel__button {
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    background: rgb(0, 0, 117);
    font-weight: bold;
    color: white;
}

div.page__edit__separator {
    border: 1px solid black;
}

div.page__edit {
    max-width: 500px;
    margin-top: 15px;
}
